@CHARSET "UTF-8";

.gameview-container {
	width: 1000px;
	height:	700px;
	margin:0 auto;
	box-shadow: 0px 10px 15px rgba(0,0,0,0.4);
	-o-box-shadow: 0px 10px 15px rgba(0,0,0,0.4);
	-ms-box-shadow: 0px 10px 15px rgba(0,0,0,0.4);
	-webkit-box-shadow: 0px 10px 15px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 10px 15px rgba(0,0,0,0.4);
	margin-top:50px;
}

.gameview-container .interface-btn-container {
	width:100%;
	height:55px;
	background-color:rgba(0,0,0,0.4);
}

.interface-group {
	list-style:none;
}

.interface-group > li {
	float:left;
	/* border:1px solid black; */
	width:50px;
	height:50px;
	margin:2px;
	cursor:pointer;
}

.interface-group > li:hover {
	background-color:white;
}

.interface-group .restart {
	background:url('../../../res/img/oncanvas/re_btn.png') no-repeat center center;
	background-size:contain;
}
.interface-group .menu-exit {
	background:url('../../../res/img/oncanvas/menu_btn.png') no-repeat center center;
	background-size:contain;
}

.interface-group .pause {
	background:url('../../../res/img/oncanvas/pause_btn.png') no-repeat center center;
	background-size:contain;
}

.gameview-container .canvas-container {
	width:100%;
	height:92%;
	position:relative;
}

.canvas-container #playcanvas {
	width:1000px;
	height:644px;
	position:absolute;
	left:0px;
	top:0px;
}

.canvas-container #playcanvas_debug {
	position:absolute;
	left:0px;
	top:0px;
}

.canvas-container #effect_canvas {
	position:absolute;
	left:0px;
	top:0px;
}